
//////////////////////////////////////////////////////////
// CLEARING //////////////////////////////////////////////
//////////////////////////////////////////////////////////
@mixin clearfix {
    *zoom: 1;

    &:after, &:before {
      content: '.';
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
    }
}

.clear {
  clear: both;
}
