
/*
* Article Module
*
*/

.article {
  background: $white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);

  pre.prettyprint {
    border-radius: 3px;
    margin: 0px 0px 26px 0px;
  }
}


/*
* Article Header / Hero
*
*/

.article-header {
  padding: 80px 40px 40px 40px;
  text-align: center;
  min-height: 280px;
  position: relative;

  // MOBILE STYLES
  @media handheld and (max-width: $standard-breakpoint),
  screen and (max-device-width: $standard-breakpoint),
  screen and (max-width: $standard-breakpoint) {
    padding: 40px 20px 20px 20px;
  }


  time {
    position: absolute;
    top: -30px;
    left: 0px;
    color: $gray;
    font-weight: 200;
  }

  > h1 {
    font-weight: 200;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0px 0px 26px 0px;
    opacity: .9;
    text-shadow: 0px 0px 100px rgba($white, 1);

    // MOBILE STYLES
    @media handheld and (max-width: $standard-breakpoint),
    screen and (max-device-width: $standard-breakpoint),
    screen and (max-width: $standard-breakpoint) {
      font-size: 40px;
    }
  }

  .author {
    text-align: center;
    font-weight: 200;
    opacity: .9;
    display: inline-block;
    position: relative;
    padding-left: 50px;
    line-height: 40px;
    margin: 0px 0px 26px 0px;
    font-size: 18px;

    > img {
      width: 40px;
      height: 40px;
      border-radius: 200px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: $layer-1;
    }
  }

  .cta-buttons {
    position: absolute;
    left: 60px;
    right: 60px;
    bottom: 60px;
    z-index: $layer-1;

    // MOBILE STYLES
    @media handheld and (max-width: $standard-breakpoint),
    screen and (max-device-width: $standard-breakpoint),
    screen and (max-width: $standard-breakpoint) {
      position: static;
    }

    i {
      font-size: 22px;
      margin-right: 5px;
    }

    .button {
      margin: 0px 10px;

      // MOBILE STYLES
      @media handheld and (max-width: $standard-breakpoint),
      screen and (max-device-width: $standard-breakpoint),
      screen and (max-width: $standard-breakpoint) {
        margin: 0px 0px 20px 0px;
        display: block;
      }
    }
  }
}





/*
* Article Content
*
*/

.article-content {
  color: $steel;

  .article-meta {
    border-radius: 5px;
    padding: 40px;
    margin: 0px 0px 0px 20px;
    list-style-type: none;
    font-size: 12px;
    font-family: $brand-font;
    line-height: 1.3;
    color: darken($cloud, 60%);
    text-transform: uppercase;

    li {
      margin: 0px 0px 10px 0px;

      &:last-child {
        margin: 0;
      }
    }
  }

  > h2 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 300;
    font-family: $brand-font;
    margin: 60px 0px 20px 0px;
    text-transform: uppercase;

    &:first-child {
      margin: 0px 0px 26px 0px;
    }
  }

  > h3 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $brand-font;
    color: $blueberry;
    margin: 40px 0px 10px 0px;
  }


  > p,
  > ul,
  > ol {
    line-height: 34px;
    font-size: 22px;
    font-family: $serif-font;
    margin: 0px 0px 26px 0px;
    font-weight: 300;

    code {
      background: $cloud;
      padding: 0px 3px;
      border-radius: 3px;
      font-family: $mono-font;
      font-size: 18px;
      color: darken($blueberry, 15%);
    }
  }

  > ul li {
    margin: 0px 0px 15px 0px;

    &:last-child {
      margin: 0;
    }
  }

  img {
    max-width: 100%;
    border-radius: 3px;
    margin: 0px auto;
    display: block;
  }

  > figure {
    border-radius: 3px;
    background: $cloud;
    text-align: center;
    padding: 40px;
    margin: 0px 0px 26px 0px;
    position: relative;

    figcaption {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: $layer-1;
      font-size: 12px;
      line-height: 40px;
      text-transform: uppercase;
      color: $gray;
    }
  }
}


/*
* Article Comments
*
*/

.article-comments {

}