
/*
* Author Module
*
*/

%base-font-props {
  font-weight: 200;
  line-height: 1.5;
}

.author {
  @extend %base-font-props;
  font-size: 18px;
  opacity: .9;
  display: inline-block;
  position: relative;
  margin: 0px 0px 26px 0px;

  > img {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: $layer-1;
  }
}

.author-name {
  @extend %base-font-props;
  text-align: center;
  color: $white;
  font-weight: 200;
  padding-left: 60px;
  line-height: 40px;
}