.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $white;
  text-align: center;
  color: $gray;
  height: 50px;
  padding: 20px 0px;

  > h2, > p {
    font-weight: 100;
    margin: 0px;
  }

}