.hero {
  padding: 180px 40px;
  text-align: center;
  color: $white;

  h1 {
    font-weight: 100;
    font-size: 60px;
    margin: 0px 0px 10px 0px;
  }

  h2 {
    font-weight: 100;
    font-size: 26px;
    margin: 0px 0px 60px 0px;
  }

  p {
    font-size: 18px;
  }
}