.svg-container {
	display: inline-block;
	position: relative;
	height: 0;
	width: 100%;
	padding: 0;
	/* override this inline for aspect ratio other than square */
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

//Use with viewBox="0 0 N N" preserveAspectRatio="xMinYMin meet"
.svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
