div.l-home
	header(class="l-hero" role="main")
		div.hero-container
			h1.logo-text Unicorn UI
			img(class="logo" src="images/logo-placeholder.svg" alt="Logo placeholder")
			h2.tagline Cool Tagline Will Go Here
			section(class="clear hero-call-to-action")
				p.hero-newsletter-blurb Subscribe to our email list to find out what new
				p.hero-newsletter-blurb awesome modules we're planning to release!

				div(id="mc_embed_signup")
					form(action="//unicorn-ui.us9.list-manage.com/subscribe/post?u=8d64dfb6a9a561029375e03a8&amp;id=b5db98a4bb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-form" role="form" target="_blank" novalidate)
						div.mc-field-group
							input(type="email" value="" name="EMAIL" class="required email newsletter-email" id="mce-EMAIL" placeholder="you@email.com")
							input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button newsletter-button button-primary")
						div(id="mce-responses" class="clear")
							div(class="response" id="mce-error-response" style="display:none")
							div(class="response" id="mce-success-response" style="display:none")
						div(style="position: absolute; left: -5000px;")
							input(type="text" name="b_8d64dfb6a9a561029375e03a8_b5db98a4bb" tabindex="-1" value="")

	section.cards
		ul.cards-list
			li.card Unicorn Cards Go Here
			li.card Unicorn Cards Go Here
			li.card Unicorn Cards Go Here

	hr.hr-beautified

	section.books
		ul.books-list
			li.book
				img(class="book" src="images/book-cover.png" alt="Book Cover")
			li.book
				img(class="book" src="images/book-cover.png" alt="Book Cover")
			li.book
				img(class="book" src="images/book-cover.png" alt="Book Cover")

footer.footer
	h2.about-us About Unicorn UI
	Copyright 2014 Unicorn-UI
