div.l-home
	header(class="l-hero" role="main")
		div.container
			div.logo
			h1.logo-text Unicorn UI
			h2.tagline Some cool tagline goes here
			section(class="clear hero-call-to-action")
				p.hero-more-info Some more really interesting information that requires a bit more explanation goes here :)
				div(class="newletter-group-item")
					form(role="form")
						fieldset.newsletter-form-group
							h3(class="newletter-header") Newsletter
							input(type="email" value="" placeholder="you@youremail.com" name="email" class="newsletter-email-input")
							input(type="submit" value="Subscribe" name="subscribe" class="button button-primary button-large button-rounded")

	hr.hr-beautified

	section.cards
		ul.cards-list
			li.card Unicorn Cards Go Here
			li.card Unicorn Cards Go Here
			li.card Unicorn Cards Go Here

	hr.hr-beautified

	section.books
		ul.books-list
			li.book Unicorn Book Goes Here
			li.book Unicorn Book Goes Here
			li.book Unicorn Book Goes Here

	hr.hr-beautified

footer.footer
	h2.about-us About Unicorn UI
	Copyright 2014 Unicorn-UI
