#unicorn-app
  != partial('../../_partials/builder/nav')
  != partial('../../_partials/builder/hero')

  section.page
    != partial('../../_partials/builder/buttons-border')
    != partial('../../_partials/builder/buttons-glow')
    != partial('../../_partials/builder/buttons-3d')
    != partial('../../_partials/builder/buttons-dropdown')
    != partial('../../_partials/builder/buttons-flat')
    != partial('../../_partials/builder/buttons-rounded')
    != partial('../../_partials/builder/buttons-pill')
    != partial('../../_partials/builder/buttons-circle')
    != partial('../../_partials/builder/buttons-square')
    != partial('../../_partials/builder/buttons-icons')
    != partial('../../_partials/builder/buttons-block')
    != partial('../../_partials/builder/buttons-sizes')
    != partial('../../_partials/builder/buttons-wrappers')
    != partial('../../_partials/builder/buttons-form')
    != partial('../../_partials/builder/buttons-type')

  != partial('../../_partials/builder/instructions')
  != partial('../../_partials/builder/js_templates')

footer
  h3 A Unicorn UI Module
  p Unicorn is created by <a target="_blank" href="https://twitter.com/alexwolfe">@alexwolfe</a>  &amp; <a target="_blank" href="https://twitter.com/roblevintennis">@roblevintennis</a>.
  p Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>