@import 'options';

//////////////////////////////////////////////////////////
// OPTIONS ///////////////////////////////////////////////
//////////////////////////////////////////////////////////
$showcase-namespace: '.showcase';
$showcase-bg: $grayWhite;
$showcase-code-bg: #495563;
$showcase-code-bg: #36464e;
$showcase-code-bg: #445963 ;


$showcase-title-color: #95a5a6;
$showcase-font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

#{$showcase-namespace} {
  background: $showcase-bg;
  margin-bottom: 60px;
  padding: 40px;

  h3 {
    margin: 0px;
    font-weight: lighter;
    font-family: $showcase-font-family;
    text-transform: uppercase;
    color: $showcase-title-color;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  //EXAMPLE
  #{$showcase-namespace}-examples {
    padding: 30px;
    text-align: center;
  }

  //CODE
  #{$showcase-namespace}-code {
    background: $showcase-code-bg;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    overflow: auto;
    border: none;
  }

  //BLANKSTATE
  &.blankstate{
    padding: 30px;

    h3 {
      margin: 0px;
    }
  }
}