doctype
html
  head
    link(rel="stylesheet" href="css/libs/vendor.css")
    link(rel="stylesheet" href="css/style.css")
  body
    != yield

    script(src="js/libs/vendor.js")
    script(src="js/site.js")