/*
* Layer Positioning
*
*/

.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.l-pinned-left {
  position: fixed;
  left: 0px;
}

.l-pinned-right {
  position: fixed;
  right: 0px;
}

.l-pinned-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.l-right {
  float: right;
}

.l-left {
  float: left;
}

/*
* Layout Types
*
*/

.l-centered-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;


  @media handheld and (max-width: $standard-breakpoint),
  screen and (max-device-width: $standard-breakpoint),
  screen and (max-width: $standard-breakpoint) {
    width: auto;
  }

  // LARGE SCREENS
  @media screen and (min-width: $large-breakpoint) {
    width: 960px;
  }
}

.l-negative-space {
  padding: 100px;

  // MOBILE STYLES
  @media handheld and (max-width: $standard-breakpoint),
  screen and (max-device-width: $standard-breakpoint),
  screen and (max-width: $standard-breakpoint) {
    padding: 40px 10px;
  }

  // LARGE SCREENS
  @media screen and (min-width: $large-breakpoint) {
    padding: 100px 120px;
  }
}


/*
* Margins and Padding
*
*/

@for $i from 1 through 16 {
  $size: $i * 10;

  .l-padding-#{$size} {
    padding: $size + px;
  }
  .l-padding-top-#{$size} {
    padding-top: $size + px;
  }
  .l-padding-left-#{$size} {
    padding-left: $size + px;
  }
  .l-padding-right-#{$size} {
    padding-right: $size + px;
  }
  .l-padding-bottom-#{$size} {
    padding-bottom: $size + px;
  }

  .l-margin-#{$size} {
    margin: $size + px;
  }
  .l-margin-top-#{$size} {
    margin-top: $size + px;
  }
  .l-margin-left-#{$size} {
    margin-left: $size + px;
  }
  .l-margin-right-#{$size} {
    margin-right: $size + px;
  }
  .l-margin-bottom-#{$size} {
    margin-bottom: $size + px;
  }
}




/*
* Layer Indexing
*
* Can be use for z-index
*/

.l-layer-1 {
  z-index: $layer-1;
}
.l-layer-2 {
  z-index: $layer-2;
}
.l-layer-3 {
  z-index: $layer-3;
}
.l-layer-4 {
  z-index: $layer-4;
}
.l-layer-5 {
  z-index: $layer-5;
}
.l-layer-6 {
  z-index: $layer-6;
}
.l-layer-7 {
  z-index: $layer-7;
}
.l-layer-8 {
  z-index: $layer-8;
}
.l-layer-9 {
  z-index: $layer-9;
}
.l-layer-10 {
  z-index: $layer-10;
}
