
/*
* Layer Indexing
*
* Can be use for z-index
*/

.l-layer-1 {
  z-index: $layer-1;
}
.l-layer-2 {
  z-index: $layer-2;
}
.l-layer-3 {
  z-index: $layer-3;
}
.l-layer-4 {
  z-index: $layer-4;
}
.l-layer-5 {
  z-index: $layer-5;
}
.l-layer-6 {
  z-index: $layer-6;
}
.l-layer-7 {
  z-index: $layer-7;
}
.l-layer-8 {
  z-index: $layer-8;
}
.l-layer-9 {
  z-index: $layer-9;
}
.l-layer-10 {
  z-index: $layer-10;
}


/*
* Layer Positioning
*
*/

.l-pinned-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

/*
* Margins and Padding
*
*/

@for $i from 1 through 16 {
  .padding-top-#{$i * 10} {
    padding-top: $i * 10 + px;
  }

}