/*
* Typography
*
*/

$brand-font: "proxima-nova", Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;
$serif-font: "minion-pro", Georgia, Times, serif;
$mono-font: "Monaco", "Lucida Console",  monospace;


/*
* Colors
*
*/

$white: #FFFFFF;
$black: #000000;
$gray: #a9adb1;
$light: #e8edf2;
$alice: #229ffd;
$steel: #455A64;
$tin: lighten($steel, 15%);
$midnight: #2c3e50;
$cloud: #f0f5f9;
$sea: #16a085;
$teal: #24C6DC;
$blueberry: #2bb1dc;
$horseshoe: #8e44ad;


/*
* Layer Indexing
*
* Can be use for z-index
*/

$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;
$layer-6: 6;
$layer-7: 7;
$layer-8: 8;
$layer-9: 9;
$layer-10: 10;


/*
* Layering Mixin
*
* Includes shadows and z-index
*/

@mixin layer($index) {
  box-shadow: 0px ($index * 1px) ($index * 1.5px) rgba($black, .23);
  z-index: $index;
}


/*
* Mobile Layout Breakpoints
*
*/

$standard-breakpoint: 800px;
$large-breakpoint: 1200px;
$vertical-breakpoint: 620px;