/*
* Typography
*
*/
$brand-font: "proxima-nova", Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;
$serif-font: Georgia, Times, serif;

/*
* Colors
*
*/
$white: #FFFFFF;
$black: #000000;
$gray: #a9adb1;
$light: #e8edf2;
$alice: #229ffd;
$steel: #455A64;
$midnight: #2c3e50;

/*
* Layer Indexing
*
* Can be use for z-index
*/
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;
$layer-6: 6;
$layer-7: 7;
$layer-8: 8;
$layer-9: 9;
$layer-10: 10;


/*
* Mobile Layout Breakpoints
*
*/

$standard-breakpoint: 800px;
$large-breakpoint: 1200px;
$vertical-breakpoint: 620px;