/*
* Backgrounds
*
*/

.background-mantle {
  background-color: #514A9D;
  background: linear-gradient(90deg, #24C6DC 10%, #514A9D 90%);
  color: $white;
}

.background-stucco {
  background-color: #f0f5f9;
}