nav(class="top-nav is-small l-layer-5 l-pinned-top")
  div(class="background-mantle top-nav-stripe")

  .top-nav-inner
    h1
      a(href="/") Unicorn UI

    ul
      if article
        li <a href="#{article}">Return to Article <i class="fa fa-angle-double-right"></i></a>

      li
        a(href="/about") About

      li
        a(href="/blog") Blog


