nav(class="main-nav l-layer-5 l-pinned-top")
  div(class="background-mantle main-nav-stripe")

  .main-nav-inner
    h1
      a(href="/") Unicorn UI

    ul
      li
        a(href="/libraries") Libraries

      li
        a(href="/books") Books

      li
        a(href="/blog") Blog

      li
        a(href="/about") About