// VENDOR SCRIPTS
script(src="/js/libs/jquery.js")
script(src="/js/libs/jquery.scrollTo.js")
script(src="/js/libs/jquery.validate.js")
script(src="/js/libs/underscore.js")
script(src="/js/libs/moment.js")

// LOCAL SCRIPTS
script(src="/js/site.js")