//--------------------------/
//-- VENDER SCRIPTS --------/
//--------------------------/

script(src="/js/libs/jquery.js")
script(src="/js/libs/jquery.scrollTo.js")
script(src="/js/libs/jquery.validate.js")
script(src="/js/libs/underscore.js")
script(src="/js/libs/moment.js")




//--------------------------/
//-- THIRD PARTY SCRIPTS ---/
//--------------------------/

// ADD THIS
script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54a73bdd30878b19" async="async")
script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54a73bdd30878b19" async="async")

// PRETTIFY CODE
script(src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js")


//--------------------------/
//-- LOCAL SCRIPTS ---------/
//--------------------------/

script(src="/js/site.js")

