//////////////////////////////////////////////////////////
// LAYOUT CONSTRAINED ////////////////////////////////////
//////////////////////////////////////////////////////////

$max-wrapper-width: 1080px;
.l-constrained {
    max-width: $max-wrapper-width;
    padding: 0 pxtoem(20,16);
    margin: 0 auto;
}