article.article.l-centered-content.l-margin-top-40

  for person in team

    section.l-negative-space.background-cloud
      h3 #{person.name}
      img(src="#{person.avatar}")
      p #{person.bio}
