article.l-centered-content.l-negative-space

  for person in team
    section.card.bio.background-cloud
      .bio-avatar
        img(src="#{person.avatar}")

      .bio-info
        h3 #{person.name}
        a(class="button button-rounded button-primary button-raised button-small button-uppercase" href="https://twitter.com/#{person.twitter}") Twitter

      p #{person.bio}

