header.hero.background-mantle.l-padding-20
  h1 Creating Great Products
  h2 We do it simply to make things people love


article.article.l-centered-content.l-margin-top-40
  section.article-content.l-negative-space
    h2 About the Creators