ul.article-meta.background-cloud
  li <strong>Reading Time</strong> - #{meta.length}
  li <strong>Topics</strong> - #{meta.topics}
  li <strong>Skill Level</strong> - #{meta.skill}

  if meta.prerequisite
    li <strong>Prequisites</strong> - #{meta.prerequisite}
