//////////////////////////////////////////////////////////
// LAYOUT MAIN ///////////////////////////////////////////
//////////////////////////////////////////////////////////

$buttonsPrimaryColor: #00a1cb;

.l-hero {
	background-color: darken($buttonsPrimaryColor, 8%);
	max-width: 100%;
	min-height: 400px;
	color: #fff;
	text-align: center;
}

.hero-container {
	margin: 0 auto;
	max-width: 45rem;
	padding: 10rem 10rem 12rem;
}

.logo {
	width: 15rem;
}

.logo-text {
	text-indent: -9999px;
}

.tagline {
	font-size: 3.2rem;
	text-shadow: 0px 1px 1px rgba(50, 50, 50, .1);
}

.hero-call-to-action {
	margin-top: 3.2rem;
}

.newsletter-form {
	margin-top: 1.5rem;
}

.newsletter-email {
	width: 20rem;
	margin-right: 2rem;
}
.newsletter-button {
	color: #fff;
	position: relative;
	top: 1px;
}

.cards {
	margin: 5rem 10rem;
}

.cards-list {
	text-align: center;
}

.card {
	display: inline-block;
	background: #f8f8f8;
	border: 2px solid #f8f8f8;
	box-shadow: 2px 2px 0px rgba(100, 100, 100, 0.1);
	margin: 6rem 2rem;
	padding: 2rem;
	min-width: 25rem;
	min-height: 30rem;
	transition: all .2s ease;
}
// @media only screen  and (min-width : 1224px) {
// }
// @media only screen and (min-width : 992px) {
// }
// @media only screen and (min-width: 768px)
// }


