doctype
html
  head
    link(rel="stylesheet" href="/fonts/icomoon/style.css")
    link(rel="stylesheet" href="/css/site.css")
    script(src="//use.typekit.net/tpn3thx.js")
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
  body

    header
      h1 Unicorn Blog
      h2 Articles for Frontend Developers

    != yield


footer
  h3 A Unicorn UI Module
  p Unicorn is created by <a target="_blank" href="https://twitter.com/alexwolfe">@alexwolfe</a>  &amp; <a target="_blank" href="https://twitter.com/roblevintennis">@roblevintennis</a>.
  p Licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>