doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="A highly customizable CSS Buttons framework built with Sass and Compass. The Buttons framework is ready to use and easy to customize")
    meta(name="viewport" content="width=device-width")

    // PAGE TITLE
    title BLOG

  body

    != yield
