doctype
html
  != partial('../_partials/head')

  body(class="background-cloud l-padding-top-160")
    != partial('../_partials/nav')

    article.article.l-centered-content
      != partial('../_partials/blog/header')

      section.article-content.l-negative-space

        if description
          h2 Overview
          if meta
            != partial('../_partials/blog/meta')

          p #{description}
          .clear

        != yield

        div.addthis_sharing_toolbox

      != partial('../_partials/blog/bio')


    != partial('../_partials/blog/comments')
    != partial('../_partials/scripts')

    != partial('../_partials/footer')
