doctype
html
  != partial('../_partials/head')

  body(class="background-stucco l-padding-top-160")
    != partial('../_partials/nav')

    article.article.l-centered-content
      != partial('../_partials/blog/header')

      section.article-content.l-negative-space
        != yield

      div.addthis_sharing_toolbox.l-negative-space

    != partial('../_partials/blog/comments')


    != partial('../_partials/scripts')
