section(id="circle" class="showcase" data-type="build" data-name="circle")
  h3 Circle Buttons

  section.showcase-examples
    a(href="#" class="button button-circle ") press me
    a(href="#" class="button button-circle button-primary") press me
    a(href="#" class="button button-circle button-action") press me
    a(href="#" class="button button-circle button-highlight") press me
    a(href="#" class="button button-circle button-caution") press me
    a(href="#" class="button button-circle button-royal") press me
  code
