section(id="block" class="showcase" data-type="example" data-name="block")
  h3 Block Buttons

  section.showcase-examples.
    <a href="#" class="button button-block button-rounded button-large">press me</a>
    <br/>
    <a href="#" class="button button-block button-rounded button-primary button-large">press me</a>
    <br/>
    <a href="#" class="button button-block button-rounded button-action button-large">press me</a>
    <br/>
    <a href="#" class="button button-block button-rounded button-highlight button-large">press me</a>
    <br/>
    <a href="#" class="button button-block button-rounded button-caution button-large">press me</a>
    <br/>
    <a href="#" class="button button-block button-rounded button-royal button-large">press me</a>
  code
