section(id="icon" class="showcase" data-type="example" data-name="icon")
  h3 Icon Buttons

  section.showcase-examples.
    <a href="#" class="button button-rounded"><i class="fa fa-github"></i> press me</a>
    <a href="#" class="button button-rounded button-primary"><i class="fa fa-refresh"></i> press me</a>
    <a href="#" class="button button-rounded button-action"><i class="fa fa-cloud"></i> press me</a>
    <a href="#" class="button button-rounded button-highlight"><i class="fa fa-camera"></i> press me</a>
    <button class="button button-large button-primary button-border button-circle"><i class="fa fa-reply"></i></button>
    <button class="button button-large button-primary button-border button-box"><i class="fa fa-star"></i></button>
    <button class="button button-large button-primary button-borderless"><i class="fa fa-tag"></i></button>
  
  code
