section(id="wrappers" class="showcase" data-type="example" data-name="wrappers")
  h3 Button Wrappers

  section.showcase-examples
    span.button-wrap
      a(href="#" class="button button-circle") press me
    span.button-wrap
      a(href="#" class="button button-circle button-primary") press me
    span.button-wrap
      a(href="#" class="button button-pill ") press me
    span.button-wrap
      a(href="#" class="button button-pill button-primary") press me
  code
