section(id="3d" class="showcase" data-type="build" data-name="3d")
  h3 3D Buttons

  section.showcase-examples
    a(href="#" class="button button-rounded ") press me
    a(href="#" class="button button-rounded button-3d-primary") press me
    a(href="#" class="button button-pill button-3d-action") press me
    a(href="#" class="button button-circle button-3d-highlight") press me
    a(href="#" class="button button-rounded button-3d-caution")
      i.fa.fa-camera press me
    a(href="#" class="button button-rounded button-3d-royal") press me
    code
