section(id="icon" class="showcase" data-type="example" data-name="icon")
  h3 Icon Buttons

  section.showcase-examples
    a(href="#" class="button button-rounded button-flat")
      i.fa.fa-github press me
    a(href="#" class="button button-rounded button-flat-primary")
      i.fa.fa-refresh press me
    a(href="#" class="button button-rounded button-flat-action")
      i.fa.fa-cloud press me
    a(href="#" class="button button-rounded button-flat-highlight")
      i.fa.fa-camera press me
    a(href="#" class="button button-rounded button-flat-caution")
      i.fa.fa-code press me
    a(href="#" class="button button-rounded button-flat-royal")
      i.fa.fa-envelope press me
  code
