section(id="rounded" class="showcase" data-type="example" data-name="rounded")
  h3 Rounded Buttons

  section.showcase-examples.
    <a href="#" class="button button-rounded">press me</a>
    <a href="#" class="button button-rounded button-primary">press me</a>
    <a href="#" class="button button-rounded button-action">press me</a>
    <a href="#" class="button button-rounded button-highlight">press me</a>
    <a href="#" class="button button-rounded button-caution">press me</a>
    <a href="#" class="button button-rounded button-royal">press me</a>

  code