section(id="icon" class="showcase" data-type="example" data-name="icon")
  h3 Icon Buttons

  section.showcase-examples.
    <a href="#" class="button button-rounded button-flat"><i class="fa fa-github"></i> press me</a>
    <a href="#" class="button button-rounded button-flat-primary"><i class="fa fa-refresh"></i> press me</a>
    <a href="#" class="button button-rounded button-flat-action"><i class="fa fa-cloud"></i> press me</a>
    <a href="#" class="button button-rounded button-flat-highlight"><i class="fa fa-camera"></i> press me</a>
    <a href="#" class="button button-rounded button-flat-caution"><i class="fa fa-code"></i> press me</a>
    <a href="#" class="button button-rounded button-flat-royal"><i class="fa fa-envelope"></i> press me</a>
  code
