section(id="square" class="showcase" data-type="example" data-name="square")
  h3 Square Buttons

  section.showcase-examples.
    <a href="#" class="button">press me</a>
    <a href="#" class="button button-primary">press me</a>
    <a href="#" class="button button-action">press me</a>
    <a href="#" class="button button-highlight">press me</a>
    <a href="#" class="button button-caution">press me</a>
    <a href="#" class="button button-royal">press me</a>
  code
