section(id="raised" class="showcase" data-type="example" data-name="raised")
  h3 Raised Buttons

  section.showcase-examples.
    <a href="#" class="button button-raised">press me</a>
    <a href="#" class="button button-primary button-raised">press me</a>
    <a href="#" class="button button-raised button-pill">press me</a>
    <a href="#" class="button button-pill button-action">press me</a>
    <a href="#" class="button button-pill button-highlight">press me</a>
    <a href="#" class="button button-pill button-caution">press me</a>
  code

