section(id="sizes" class="showcase" data-type="example" data-name="sizes")
  h3 Button Sizes

  section.showcase-examples
    a(href="#" class="button button-rounded button-flat-primary button-jumbo") press me
    a(href="#" class="button button-rounded button-flat-primary button-large") press me
    a(href="#" class="button button-rounded button-flat-primary") press me
    a(href="#" class="button button-rounded button-flat-primary button-small") press me
    a(href="#" class="button button-rounded button-flat-primary button-tiny") press me
  code