section(id="longshadow" class="showcase" data-type="build" data-name="longshadow")
	h3 Longshadow

	section.showcase-examples.
		<a href="#" class="button button-primary button-box button-giant button-longshadow-right">
			<i class="fa fa-twitter"></i>
		</a>
		<a href="#" class="button button-caution button-box button-giant button-raised button-longshadow">
			<i class="fa fa-google-plus"></i>
		</a>
		<a href="#" class="button button-primary button-box button-giant button-longshadow-left">
			<i class="fa fa-share-alt"></i>
		</a>
		<a href="#" class="button button-highlight button-box button-giant button-longshadow-right">
			<i class="fa fa-rss"></i>
		</a>
		<a href="#" class="button button-primary button-circle button-giant button-longshadow-right">
			<i class="fa fa-gear"></i>
		</a>
	code