section(id="3d" class="showcase" data-type="build" data-name="3d")
  h3 3D Buttons

  section.showcase-examples.
    <a href="#" class="button button-3d">press me</a>
    <a href="#" class="button button-3d-primary button-rounded">press me</a>
    <a href="#" class="button button-3d-action button-pill">press me</a>
    <a href="#" class="button button-3d-highlight button-circle">press me</a>
    <a href="#" class="button button-3d-caution"><i class="fa fa-camera"></i> press me</a>
    <a href="#" class="button button-3d-royal button-rounded">press me</a>
  code
