section(id="type" class="showcase" data-example="example" data-name="type")
  h3 Typographic Styles

  section.showcase-examples.
    <a href="http://unicorn-ui.com/" class="button button-uppercase button-primary">uppercase</a>
    <a href="http://unicorn-ui.com/" class="button button-lowercase button-primary ">lowercase</a>
    <a href="http://unicorn-ui.com/" class="button button-capitalize button-primary">capitalize</a>
    <a href="http://unicorn-ui.com/" class="button button-small-caps button-primary">small caps</a>
  code
  
  

