header(class="hero" id="home")
  h1 Buttons
  h2 A CSS button library built with Sass &amp; Compass

  section.hero-call-to-action.clearfix
    a(class="button download button-flat-primary button-large button-rounded" href="#") Download
    a(title="Adjust your settings" class="customize button button-flat button-large button-rounded" href="#")
      i.fa.fa-bolt Customize


    form(class="subscribe-form" action="//github.us9.list-manage.com/subscribe/post?u=8d64dfb6a9a561029375e03a8&amp;id=04d53dbcbd" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
        label(for="mce-EMAIL")
          i.fa.fa-hand-o-right  Buttons 2.0 is coming soon!
        label(class="label-hint" for="mce-EMAIL") Enter your email to get notified when it launches!
        .subscribe-field-container
            input(type="email" placeholder="email@example.com" value="" name="EMAIL" class=" required email" id="mce-EMAIL")
            input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class=" button button-rounded button-flat ")
            .clear

        div(style="position: absolute; left: -5000px;")
          input(type="text" name="b_8d64dfb6a9a561029375e03a8_04d53dbcbd" tabindex="-1" value="")


