header(class="hero" id="home")
  h1 Buttons
  h2 A CSS button library built with Sass &amp; Compass

  section.hero-call-to-action.clearfix
    a(class="button download button-flat-primary button-large button-rounded" href="#") Download
    a(title="Adjust your settings" class="customize button button-flat button-large button-rounded" href="#")
      i.fa.fa-bolt Customize


    form(class="subscribe-form" action="//github.us9.list-manage.com/subscribe/post?u=8d64dfb6a9a561029375e03a8&amp;id=04d53dbcbd" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)
        label(for="mce-EMAIL")
          i.fa.fa-hand-o-right  Buttons 2.0 is coming soon!
        label(class="label-hint" for="mce-EMAIL") Enter your email to get notified when it launches!
        .subscribe-field-container
            input(type="email" placeholder="email@example.com" value="" name="EMAIL" class=" required email" id="mce-EMAIL")
            input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class=" button button-rounded button-flat ")
            .clear

        div(style="position: absolute; left: -5000px;")
          input(type="text" name="b_8d64dfb6a9a561029375e03a8_04d53dbcbd" tabindex="-1" value="")

    section.social-buttons
      #fb-root
        script(type="text/javascript").
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=162853010460019";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

      div(class="fb-like" data-href="http://github.com/unicorn-ui/Buttons/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false")

      iframe(class="github-button" src="http://ghbtns.com/github-btn.html?user=unicorn-ui&repo=Buttons&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20")
      iframe(class="github-button" src="http://ghbtns.com/github-btn.html?user=alexwolfe&repo=Buttons&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20")

      a(class="twitter-follow-button" href="https://twitter.com/unicornuirocks" data-show-count="false" data-lang="en")  Follow @unicornuirocks
      script(type="text/javascript").
        window.twttr = (function (d, s, id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src= "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
          }(document, "script", "twitter-wjs"));

      a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://unicorn-ui.github.io/Buttons/" data-text="Buttons - a customizable CSS button library built with Sass &amp; Compass") Tweet
      script(type="text/javascript").
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
