nav.nav.pinned
  header
    h1
      a(href="#home") B
    a(class="mobile-menu" href="#") Menu

  ul

  footer
    a(class="download button button-block button-flat-primary button-rounded button-large" href="#") Download
