//////////////////////////////////////////////////////////
// BASE //////////////////////////////////////////////////
//////////////////////////////////////////////////////////

html {
	font-size: 62.5%
}

body {
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	line-height: 1.4;
	color: #333;
	background-color: #fff;
}

%hr {
  background: #ddd;
  clear: both;
  float: none;
  width: auto;
  height: 2px;
  margin: 2em 6em;
  border: none;
}

// http://konigi.com/tools/css-techniques-horizontal-rules
hr.hr-beautified {
	@extend %hr;
	//FIXME: Remove prefix when autoprefixer added
	background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(221,221,221) 10%, rgb(221,221,221) 90%, rgb(255,255,255) 100%);
	background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgb(221,221,221) 10%, rgb(221,221,221) 90%, rgb(255,255,255) 100%);
}